@model doan.Models.Nhanvien 
@{
    ViewData["Title"] = "Thông tin nhân viên";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item" style="font-family:'Segoe UI'; font-size: 16px">
                <i class="anticon anticon-home m-r-5" style="color: orangered"></i>
                Home
            </a>
            <a style="font-family:'Segoe UI'; font-size: 16px" class="breadcrumb-item" asp-area="Admin" asp-controller="AdminNhanviens" asp-action="Index">Danh sách nhân viên</a>
            <span class="breadcrumb-item active" style="font-family:'Segoe UI'; font-size: 16px">Thông tin chi tiết</span>
        </nav>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h4 class="card-title" style="color: orangered; font-size: 20px">Thông tin nhân viên</h4>
        <div class="table-responsive">
            <table class="product-info-table m-t-20">
                <tbody>
                    <tr>
                        <td style="font-weight:bold">ID:</td>
                        <td class="text-dark font-weight-semibold">@Model.MaNv</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Tên nhân viên:</td>
                        <td>@Model.TenNv</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Số điện thoại:</td>
                        <td>@Model.SoDienThoai</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Ngày sinh:</td>
                        <td>@String.Format("{0:dd/MM/yyyy}", Model.NgaySinh)</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Giới tính:</td>
                        <td>@Model.GioiTinh</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Địa chỉ:</td>
                        <td>@Model.DiaChi</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Ngày vào làm:</td>
                        <td>@String.Format("{0:dd/MM/yyyy}", Model.NgayVaoLam)</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Chức vụ:</td>
                        <td>@Model.ChucVu</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
