@model doan.Models.Voucher 
@{
    ViewData["Title"] = "Thông tin khuyến mãi";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item" style="font-family:'Segoe UI'; font-size: 16px">
                <i class="anticon anticon-home m-r-5" style="color: orangered"></i>
                Home
            </a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminVouchers" asp-action="Index"style="font-family:'Segoe UI'; font-size: 16px">Danh sách khuyến mãi</a>
            <span class="breadcrumb-item active" style="font-family:'Segoe UI'; font-size: 16px">Thông tin chi tiết</span>
        </nav>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h4 class="card-title" style="color: orangered; font-size: 20px">Thông tin khuyến mãi</h4>
        <div class="table-responsive">
            <table class="product-info-table m-t-20">
                <tbody>
                    <tr>
                        <td style="font-weight:bold">ID:</td>
                        <td class="text-dark font-weight-semibold">@Model.MaVoucher</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Tên khuyến mãi:</td>
                        <td>@Model.TenVoucher</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Tỉ lệ giảm giá:</td>
                        <td>@Model.TiLeGiamGia</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Ngày bắt đầu:</td>
                        <td>@String.Format("{0:dd/MM/yyyy}", Model.NgayBatDau)</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Ngày kết thúc:</td>
                        <td>@String.Format("{0:dd/MM/yyyy}", Model.NgayKetThuc)</td>
                    </tr>                  
                </tbody>
            </table>
        </div>
    </div>
</div>
