@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<doan.Models.Sanpham>
@{
    int PageCurrent = ViewBag.CurrentPage;
    int PageNext = PageCurrent + 1;
    ViewData["Title"] = "Index" + ViewBag.CurrentPage;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main class="main-content">
    <div class="breadcrumb-area breadcrumb-height pb-5" data-bg-image="/assets/images/slider/bg/slide-shop.jpg"></div>
    <div class="container pt-5 h-100">
            <div class="row h-100">
                <div class="col-lg-12">
                    <div class="breadcrumb-item">
                    <h2 class="breadcrumb-heading" style="font-family:'Segoe UI'; color:orangered">
                        <img src="~/assets/images/icon/all-product.png" />
                        Tất cả sản phẩm</h2>
                    <ul>
                        <li>
                            <a href="/">Trang chủ<i class="pe-7s-angle-right"></i></a>
                        </li>
                        <li>Danh sách sản phẩm</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    <div class="shop-area pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-1 order-lg-1 order-2 pt-10 pt-lg-0"></div>
                <div class="col-lg-11 order-lg-2 order-1">
                    <div class="product-topbar">
                        <ul>
                            <li class="product-view-wrap">
                                <ul class="nav" role="tablist">
                                    <li class="grid-view" role="presentation">
                                        <a id="grid-view-tab" data-bs-toggle="tab" href="#grid-view" role="tab" aria-selected="true">
                                            <i class="fa fa-th"></i>
                                        </a>
                                    </li>
                                    <li class="list-view" role="presentation">
                                        <a class="active" id="list-view-tab" data-bs-toggle="tab" href="#list-view" role="tab" aria-selected="true">
                                            <i class="fa fa-th-list"></i>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="page-count">
                                <span>Trang này có @Model.Count() sản phẩm</span>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content text-charcoal pt-8">
                        <div class="tab-pane fade" id="grid-view" role="tabpanel" aria-labelledby="grid-view-tab">
                            <div class="product-grid-view row" id="gia1">
                                @if (Model != null && Model.Count() > 0)
                                {
                                    var stt = 0;
                                    foreach (var item in Model)
                                    {
                                        string url = $"/{item.MaSp}.html";
                                        <div class="col-lg-4 col-sm-6">
                                            <div class="product-item rounded" style="background-color: #ffefe4">
                                                <div class="product-img img-zoom-effect rounded">
                                                    <a href="@url">
                                                        @{
                                                            string temp = item.MaSp + ".jpg";
                                                        }
                                                        <img class="img-full rounded" src="/Image/@temp" alt="@item.MoTa">
                                                    </a>
                                                    <div class="product-add-action">
                                                        <ul>
                                                            <li>
                                                                @{
                                                                    stt += 1;
                                                                    var id_add = "add_cart" + @stt.ToString();
                                                                }
                                                                <form action="/GioHang/Add_cart?product_id=@item.MaSp" method="post" id="@id_add">
                                                                    <a class="bg-warning rounded" href="#" onclick="document.getElementById('@id_add').submit();">
                                                                        <i class="pe-7s-cart" style="font-size:24px; font-weight:bold"></i>
                                                                    </a>
                                                                </form>
                                                            </li>

                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="product-content">
                                                    <a class="product-name" asp-action="Details">@item.TenSp</a>
                                                    <div class="price-box pb-1">
                                                        <span class="new-price text-danger" style="font-weight: bold">@item.GiaTien.Value.ToString("#,##0") VNĐ</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <div class="tab-pane fade show active" id="list-view" role="tabpanel" aria-labelledby="list-view-tab">
                            <div class="product-list-view with-sidebar row">
                                @if (Model != null && Model.Count() > 0)
                                {
                                    var stt = 0;
                                    foreach (var item in Model)
                                    {
                                        string url = $"/{item.MaSp}.html";
                                        <div class="col-12 pt-6">
                                            <div class="product-item rounded" style="background-color: #ffefe4">
                                                <div class="product-img img-zoom-effect rounded">
                                                    <a href="@url">
                                                        @{
                                                            string temp = item.MaSp + ".jpg";
                                                        }
                                                        <img class="img-full rounded" src="/Image/@temp" alt=" @item.MoTa">
                                                    </a>
                                                    <div class="product-add-action">
                                                        <ul>
                                                            <li>
                                                                @{
                                                                    stt += 1;
                                                                    var id_add = "add_cart2" + @stt.ToString();
                                                                }
                                                                <form action="/GioHang/Add_cart?product_id=@item.MaSp" method="post" id="@id_add">
                                                                    <a class="bg-warning rounded" href="#" onclick="document.getElementById('@id_add').submit();">
                                                                        <i class="pe-7s-cart" style="font-size:24px; font-weight:bold"></i>
                                                                    </a>
                                                                </form>
                                                            </li>

                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="product-content">
                                                    <a class="product-name pb-2" href="@url"><b>@item.TenSp</b></a>
                                                    <div class="price-box pb-1">
                                                        <span class="new-price text-danger" style="font-weight: bold">@item.GiaTien.Value.ToString("#,##0") VNĐ</span>
                                                    </div>
                                                    <p class="short-desc mb-0">@item.MoTa</p>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="pagination-area pt-10">
                        <ul class="pagination justify-content-center">
                            <pager class="pager-container" options="@PagedListRenderOptions.Bootstrap4PageNumbersOnly" list="@Model" asp-area="" asp-controller="Sanpham" asp-action="Index" />
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>


@section Scripts{
    <script>
        $(document).ready(function () {
            $("#giasanpham").keyup(function () {
                var strkeyword = $('#giasanpham').val();
                $.ajax({
                    url: '/Searchtheogia/Searchgia/',
                    datatype: "json",
                    type: "POST",
                    data: { giasanpham: strkeyword },
                    async: true,
                    success: function (results) {
                        $("#gia1").html("");
                        $("#gia1").html(results);
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });
        });
    </script>
}